body{
    display: grid;
    /*3-column layout*/
    grid-template-areas: 
    ". header ."
    "aside aside aside"
    ". main ."
    "footer footer footer"
    ;
    grid-template-columns: 1fr 9fr 1fr;

    background-color: red;/*named colours ONLY for experimenting. Use hexcodes for real designs*/
}

header {
    grid-area: header;

    background-color: yellow;
}
aside {
    grid-area: aside;

    background-color: green;
}
main {
    grid-area: main;

    background-color: blue;
}
footer {
    grid-area: footer;

    background-color: orange;
}

img{
    width: 100%;
    height: auto;
}

@media (min-width: 600px) {
    body {
        /*7-column layout*/
        grid-template-areas: 
            ". header header header aside aside ."
            ". main main main main main ."
            ". footer footer footer footer footer .";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        
        background: green;
    }

    .jobs, .portfolio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .job{
        width: 45%;
    }
    .piece{
        width: 30%;
    }

}